@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    font-family: sans-serif;
  }
}
.callout {
  margin-bottom: 25px;
  padding: 20px;
  border-left: 3px solid #eeeeee;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout-danger {
  background-color: #fdf7f7;
  border-color: #ebccd1;
}
.callout-danger h4 {
  color: #a94442;
}
.callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.callout-warning h4 {
  color: #8a6d3b;
}
.callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.callout-info h4 {
  color: #31708f;
}
.callout-success {
  background-color: #f9fdf7;
  border-color: #d6e9c6;
}
.callout-success h4 {
  color: #3c763d;
}
.t-ww {
  word-wrap: break-word;
  word-break: break-word;
}
.border-none {
  border: 0;
}
.pos-r {
  position: relative !important;
}
.pos-a {
  position: absolute !important;
}
.pos-f {
  position: fixed !important;
}
.w-sm {
  width: 25% !important;
}
.w-md {
  width: 50% !important;
}
.w-lg {
  width: 75% !important;
}
.w-full {
  width: 100% !important;
}
.w-50 {
  width: 50px !important;
}
.w-100 {
  width: 100px !important;
}
.w-120 {
  width: 120px !important;
}
.w-130 {
  width: 130px !important;
}
.w-140 {
  width: 140px !important;
}
.w-150 {
  width: 150px !important;
}
.w-200 {
  width: 200px !important;
}
.w-300 {
  width: 300px !important;
}
.w-350 {
  width: 350px !important;
}
.m-a-0 {
  margin: 0 !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-r-0 {
  margin-right: 0 !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-l-0 {
  margin-left: 0 !important;
}
.m-a {
  margin: 20px !important;
}
.m-t {
  margin-top: 20px !important;
}
.m-r {
  margin-right: 20px !important;
}
.m-b {
  margin-bottom: 20px !important;
}
.m-l {
  margin-left: 20px !important;
}
.m-x {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.m-y {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.m-a-xs {
  margin: 5px !important;
}
.m-t-xs {
  margin-top: 5px !important;
}
.m-r-xs {
  margin-right: 5px !important;
}
.m-b-xs {
  margin-bottom: 5px !important;
}
.m-l-xs {
  margin-left: 5px !important;
}
.m-x-xs {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.m-y-xs {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.m-a-sm {
  margin: 10px !important;
}
.m-t-sm {
  margin-top: 10px !important;
}
.m-r-sm {
  margin-right: 10px !important;
}
.m-b-sm {
  margin-bottom: 10px !important;
}
.m-l-sm {
  margin-left: 10px !important;
}
.m-x-sm {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.m-y-sm {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-a-md {
  margin: 30px !important;
}
.m-t-md {
  margin-top: 30px !important;
}
.m-r-md {
  margin-right: 30px !important;
}
.m-b-md {
  margin-bottom: 30px !important;
}
.m-l-md {
  margin-left: 30px !important;
}
.m-x-md {
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.m-y-md {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.m-a-lg {
  margin: 60px !important;
}
.m-t-lg {
  margin-top: 60px !important;
}
.m-r-lg {
  margin-right: 60px !important;
}
.m-b-lg {
  margin-bottom: 60px !important;
}
.m-l-lg {
  margin-left: 60px !important;
}
.m-x-lg {
  margin-right: 60px !important;
  margin-left: 60px !important;
}
.m-y-lg {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.p-a-0 {
  padding: 0 !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-a {
  padding: 20px !important;
}
.p-t {
  padding-top: 20px !important;
}
.p-r {
  padding-right: 20px !important;
}
.p-b {
  padding-bottom: 20px !important;
}
.p-l {
  padding-left: 20px !important;
}
.p-x {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.p-y {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.p-a-xs {
  padding: 5px !important;
}
.p-t-xs {
  padding-top: 5px !important;
}
.p-r-xs {
  padding-right: 5px !important;
}
.p-b-xs {
  padding-bottom: 5px !important;
}
.p-l-xs {
  padding-left: 5px !important;
}
.p-x-xs {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.p-y-xs {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.p-a-sm {
  padding: 10px !important;
}
.p-t-sm {
  padding-top: 10px !important;
}
.p-r-sm {
  padding-right: 10px !important;
}
.p-b-sm {
  padding-bottom: 10px !important;
}
.p-l-sm {
  padding-left: 10px !important;
}
.p-x-sm {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.p-y-sm {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-a-md {
  padding: 30px !important;
}
.p-t-md {
  padding-top: 30px !important;
}
.p-r-md {
  padding-right: 30px !important;
}
.p-b-md {
  padding-bottom: 30px !important;
}
.p-l-md {
  padding-left: 30px !important;
}
.p-x-md {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.p-y-md {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.p-a-lg {
  padding: 60px !important;
}
.p-t-lg {
  padding-top: 60px !important;
}
.p-r-lg {
  padding-right: 60px !important;
}
.p-b-lg {
  padding-bottom: 60px !important;
}
.p-l-lg {
  padding-left: 60px !important;
}
.p-x-lg {
  padding-right: 60px !important;
  padding-left: 60px !important;
}
.p-y-lg {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
/* .navbar-header .navbar-brand {
  padding-left: 55px;
  background-image: url('../images/october.png');
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: 7px 50%;
  transition: color 0.2s ease 0.05s;
  color: #ccc;
} */
.navbar-header .navbar-brand:hover {
  color: #fff;
}
.navbar-nav li.separator {
  width: 1px;
  background: rgba(255, 255, 255, 0.3);
  height: 30px;
  margin: 20px 3px 0 0px;
}
.navbar-autohide {
  transition: transform .5s;
}
.navbar-autohide.is-hidden {
  transform: translateY(-116px);
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a {
  transition: color 0.2s ease 0.05s;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:after {
  position: absolute;
  height: 4px;
  bottom: -1px;
  content: '';
  border-radius: 4px;
  z-index: 5;
  width: 0;
  left: 50%;
  transition: all 0.2s ease 0.05s;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:after {
  width: 100% !important;
  left: 0 !important;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li:hover > a:after {
  width: 100%;
  left: 0;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a {
  background: transparent;
}
.navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:after,
.navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
  background: #000000;
}
.navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:hover:after {
  background: #000000;
}
.navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
  background: #e67e22;
}
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:after,
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
  background: #64ae5b;
}
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:hover:after {
  background: #64ae5b;
}
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
  background: #93dc8a;
}


body {
  padding-top: 116px;
}

.navbar-nav{
    padding: 22.5px 0
}

.navbar-brand{
    height: auto;
}

.text-upper{
    text-transform: uppercase;
}

.font-weight-medium{
    font-weight: 500;
}

.font-weight-bold{
    font-weight: 700;
}

.font-weight-light{
    font-weight: 300;
}

.font-weight-thin{
    font-weight: 100;
}

.font-weight-regular{
    font-weight: normal;
}

img.navbar-brand{
    width: 100%;
}

.navbar-collapse{
    float: right;
}

#footer{
    background:#282828;
    color:#fff
}

.navbar-inverse{
    background:#282828;
    border-color: #282828
}

.brand{
  height:70px;
  width:auto;
}

.text-center{
  text-align: center;
}

.bg-solid{
  background-image:url( '../images/Main_image.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#first-section h1, #first-section p{
    color: #000
}

 #first-section p{
  font-size: 17pt;
  line-height: 20pt
}

.width-75{
  width:75%;
  margin: auto
}

.navbar-inverse .navbar-nav > li > a{
  font-size: 14px !important
}

.navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:after,.navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:hover:after{
  background: transparent;
}
.rectangle_bttn {
  background-color: rgb(243, 191, 34);
  border:none;
  color: #fff;
  padding: .5rem 3rem;
  text-transform: uppercase;

}
.form-field{
  background-color: rgb(255, 255, 255);
  padding: .5rem .9rem;
  width: 70%;
  border: 1px solid #f3bf20;
  text-transform: capitalize;

}

.form-newsletter form{
  width: 60%;
  margin: auto;
}

#downloadApp{
    background: #fff;
}

.section-title{
    font-size: 28px;   
    color: #000;
    text-transform:capitalize;
    font-weight: bold;
}
.section-title > span {
    text-transform: none;
    }

#downloadApp p{
    color: #3b3b3b
}

.downloadBttn{
    color: #fff;
    padding: 1.5rem 3rem;
    margin-top: 20px;
    font-size: 20px
}

.windowsBttn{
    background-color: rgb(251, 209, 82);
}

.appleBttn, .androidBttn{
  background-color: rgb(243, 191, 34);
}

#platforms{
  background-color: #e9e9e9;
  clear: both;
}

.card{
  background-color: #fff
}

.circle{
  width: 128px;
  height: 128px;
  background: #d4d4d4;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.circle img{
  margin: 0 auto
}

.card{
  height: 505px
}

.card .title{
  color: #000;
  text-transform: capitalize;
  font-size: 20px;
}

.card ul{
  list-style-type: none;
}

.card ul li{
  margin-bottom: 10px;
  color: #000;
  font-size: 14px;
}

.card ul li:before{
  content: url('http://tokenized.tk/tokenized/install-master/themes/tokenized/assets/images/check_sign.png');
  vertical-align: sub;
  padding-right: 5px
}
.divider hr{
  height: 1px;
  width: 100%;
  background-color: rgb(189, 188, 188)
}

.divider{
  clear: both
}

h3{
  color: #000;
  font-size: 20px;
}

.video-card p{
  color: #3b3b3b;
  font-size: 14px;
}
#download_buttons .bg_image{
  background-image: url('http://localhost:8888/tokenized/themes/tokenized/assets/images/backg_T.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  display: flex;
  align-items: center;
}
#download_buttons h1{
  font-size: 30px;
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
}

#fourth-section, #accordion{
  background: #fff
}

#fourth-section p{
  color: #3b3b3b
}

#fourth-section img{
  display: block;
  margin:auto;
}
.bg-solid-color{
  background: #e9e9e9;
}

#fourth-section .form-newsletter form{
  width: 100%
}
#fourth-section h3{
  font-size: 24px;
  font-weight: bold;
}

#fourth-section .form-field{
  padding: 1.5rem 1.5rem;
  line-height: 1.2;
}
#fourth-section input.rectangle_bttn{
  padding-top: 1.3rem;
  padding-bottom: 1.3rem; 
}
#company_values{
  background-color: #898989
}
#company_values p,#company_values span, #company_values h1, #company_values h2{
  color: #fff
}
#company_values span{
  text-transform: uppercase;
  font-size: 35px;
  font-weight: normal;
}
#company_values h1{
  text-transform: uppercase;
  font-size: 65px;
  font-weight: bold;
}
#company_values h2{
  text-transform: uppercase;
  font-size: 53px;
  font-weight: normal;
}
#accordion .panel{
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-top:1px solid #000;
}
#accordion .panel-heading{
  background: transparent;
}
#accordion .panel-group .panel-heading + .panel-collapse > .panel-body, #accordion .panel-group .panel-heading + .panel-collapse > .list-group{
  border: none;
}
#accordion .panel-title{
  font-size: 24px;
  margin-top: 20px;
  columns: #000
}
#pricing{
  background: #e9e9e9
}

.card-price{
  height: 580px;
}
.card-price h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
}
.standard{
  background: #c7c7c7;
}
.standard h2, .standard .price-tag{
  color: #000
}
.standard .price,.premium .price{
  font-size: 60px;
  font-weight: bold;
}
.premium{
  background: #474747;
}
.premium h2, .premium .price-tag{
  color: #fff;
}
.card-price .divider{
  width: 70%;
  margin:auto;
}

.premium .divider hr{
    background-color: rgba(49, 49, 49);
    box-shadow: 1px 1px rgb(99, 99, 99);
    color: rgba(49, 49, 49);
    border: none;
}

.standard .divider hr{
    background-color: rgb(225, 225, 225);
    box-shadow: 1px -1px rgb(176, 176, 176);
    color: rgba(49, 49, 49);
    border: none;
}
.card-price table{
  font-size: 15px;
  text-align: end;
}

.standard table{
  color: #000;
}

.premium table{
  color: #fff;
}
.panel-heading > a{
    color: #000;
    text-decoration: none;
}

.panel-heading > a:hover, .panel-heading > a:active,.panel-heading a[aria-expanded="true"]{
    color: #f3bf20;
    text-decoration: none;
}

a[aria-expanded="true"] > h4.panel-title:after {
    content: '\f056';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    float: right;
}
a[aria-expanded="false"] > h4.panel-title:after {
    content: '\f055';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    float: right;
}

 .mobile{
        display: none !important;
    }
    .desktop{
        display: block !important;
}

#cta-f > div{
    display: flex;
    align-items: center;
}
#cta-f img{
    width: 25%;
    padding: .8rem;
}
#cta-f h3{
    font-size: 14px;
    padding: .8rem 0 !important;
    }
#cta-f form{
    text-align: center;
    }
#cta-f form input.rectangle_bttn{ 
    width:50%;
    padding: 1.4rem;
    font-size: 12px;
    font-weight: 500;
}
#cta-f form input.form-field{
    border: none;
    font-size: 12px;
    font-weight: 100;
    }
.carousel-indicators{
    bottom: -20px;
    }
.carousel-indicators li{
    border-color: rgb(243, 191, 34)
    }
.carousel-indicators .active{
    background-color: rgb(243, 191, 34)
    }
#priceCarousel .card-price{
   height: 600px;
    }
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    
    .downloadBttn{
        font-size: 15px;
    }
    
    .card ul li{
        font-size: 13px;    
    }   
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    .navbar-nav{
        padding: 0
    }
    img{
      width: 100%;
    }
    .icons-width-auto, .circle img{
        width: auto;
    }
    #download_buttons .bg_image{
        flex-direction: column;
        align-items: flex-end;
        height: 100px;
    }
    #download_buttons .bg_image .col-md-6{
        margin-bottom: 20px;
    }
    .card-price table{
        margin: auto;
        width: 80%;
    }
    .video-card iframe{
        height: 320px;
    }
    #company_values span{
        font-size: 27px;
    }
    #company_values h1{
        font-size: 45px;    
    }
    #company_values h2{
        font-size: 35px    
    }
    #downloadApp img{
        width: auto;    
    }
    .navbar-inverse .navbar-nav > li > a{
        font-size: 13px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
  img.navbar-brand{
    width: 100% !important;
  }
  .navbar-nav{
    padding: 0
  }
}
@media only screen and (max-width: 768px) {
    body{
        padding-top: 80px    
        }
    img.navbar-brand{
        width: 50%;
    }
    .navbar-collapse{
        float: none;
    }
    img{
      width: 100%;
    }
    .circle img{
      width: auto;
    }
    .card{
      margin-bottom: 30px;
    }
    .video-card iframe{
      width: 100% !important
    }
    #download_buttons .bg_image{
      display: block;
      height: auto;
      background-size: auto;
    }
    img.icons-width-auto{
      width: auto;
    }
    .form-field{
      margin-bottom: 20px
    }
     #company_values span{
        font-size: 27px;
    }
    #company_values h1{
        font-size: 45px;    
    }
    #company_values h2{
        font-size: 35px    
    }
    .mobile{
        display: block !important;
    }
    .desktop{
        display: none !important;
    }
}

@media only screen and (min-width: 426px) and (max-width: 769px) {
  #downloadApp img{
    width: auto;
  }
  .downloadBttn{
      display: block;
      text-align: center;
      margin-bottom: 20px;
  }
  #priceCarousel .card-price table{
      margin: auto
  }
  #priceCarousel .card-price {
    height: 530px;
    }
 .carousel-indicators {
    bottom: -50px;
    } 
 #cta-f .form-newsletter form{
      display: flex;
      align-items: center;
  }
   #cta-f .form-newsletter{
       width: 100%
   }
   #cta-f form input.form-field{
       margin-bottom: 0
       }
   .card ul{
        width: 50%;
        margin: auto;
        padding: 0;
    }
}

@media only screen and (max-width: 426px) {
    .downloadBttn{
      display: block;
      text-align: center;
    }
    #fourth-section p{
      font-size: 13px;
    }
    #accordion .panel-title{
      font-size: 16px;
    }
    #company_values h1{
      font-size: 45px
    }
    .form-newsletter form{
      width: 100%
    }
    #first-section h1{
      font-size: 35px;
    }
    #first-section p{
      font-size: 16px
    }

    #fourth-section input.rectangle_bttn, #fourth-section .form-field{
      width: 100%
    }
    #fourth-section h3{
      text-align: center;
    }
    .card-price{
      margin-bottom: 20px
    }
    input.rectangle_bttn {
      width: 70%;
    }
    .card{
        height: auto;
    }
    .card ul{
        padding-left: 20px;
        }
    .card ul li{
        font-size: 12px;
        }
     #cta-f .form-newsletter{
       width: 100%
   }
}