==
<div id="footer">
    <div class="container">
        <div class="col-lg-12 text-center">
            <img class="brand m-y-md" src="{{ 'assets/images/Tokenized_Final.png' | theme }}" width="50%" />
            
        </div>
        <div class="col-lg-12 text-center" id="copyright">
            <p class="muted credit">&copy; 2018 - {{ "now"|date("Y") }} </p>
        </div>
    </div>
</div>