==
<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide col-md-12" role="navigation">
    <div class="container">
        <div class="navbar-header col-md-3 col-sm-3">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  href="{{ 'home'|page }}"><img class="navbar-brand" src="{{ 'assets/images/Tokenized_Final.png' | theme }}"  /></a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse col-md-9 col-sm-9">
            <ul class="nav navbar-nav text-upper font-weight-medium">
                <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="#">Download</a></li>
                 <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'protocol' %}active{% endif %}"><a href="{{ 'protocol'|page }}">Protocol</a></li>
                 <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="#">Community</a></li>
                 <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="#">Explorer</a></li>
                 <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</nav>