==
<section id="fourth-section" class="col-md-12 p-y-md">

 	<div class="container">
 		<div class="row">
			<h2 class="section-title m-t-0 m-b-md text-center">Users(<span>e.g.</span> Investors)</h2>
			<p class="text-center">The Tokenized platform allows you to create a custom smart contract with any terms and conditions you’d like.  Once you’ve created the smart contract, you can then assign tokenized assets to the contract.  Once created, your assets are your assets and you can sell or raise capital with them in whatever manner you choose.  You can then list the tokens on our exchange, or you can sell them from your website, or any other exchange. </p>

			<p class="text-center">Our platform will take you through 3 easy steps to making sure your token issuance is legal and suits your needs.</p>
		</div>
		<div class="row p-y-md">
			<img src="{{ 'assets/images/three_steps.png'|theme }}" class="desktop">
			<img src="{{ 'assets/images/USERS.png'|theme }}" class="mobile">
		</div>
		<div class="row bg-solid-color p-y-md">
		    <div class="desktop">
    			<div class="col-md-3">
    				<img src="{{ 'assets/images/icon_sign-up.png'|theme }}" class="icons-width-auto">
    			</div>
    			<div class="col-md-9">
    				<h3 class="m-b-0 m-t-sm p-b-md">Are you looking to raise capital by issuing shares or bonds?</h3>
    				<!--  sign up form  -->  
    				<div class="form-newsletter p-b-md">
    			 	 	<form>
    				    	<input type="text" name="email" placeholder="Enter email address" class="form-field">
    				    	<input type="submit" name="submit" class="rectangle_bttn" value="Learn More">
    			    	</form>
    			 	</div>
    			</div>
            </div>
            
            <!-- Mobile display -->
            <div class="mobile p-b-md" id="cta-f">
                <div class="col-md-12 p-b-md">
    				<img src="{{ 'assets/images/icon_sign-up.png'|theme }}" class="icons-width-auto">
    			    <h3 class="m-b-0 m-t-0">Are you looking to raise capital by issuing shares or bonds?</h3>
    			</div>
    			<div class="col-md-12">
    			    <!--  sign up form  -->  
    				<div class="form-newsletter">
    			 	 	<form>
    				    	<input type="text" name="email" placeholder="Enter email address" class="form-field">
    				    	<input type="submit" name="submit" class="rectangle_bttn" value="Learn More">
    			    	</form>
    			 	</div>
    			</div>
            </div>
            
		</div>

		<div class="row p-y-lg">
			<h2 class="section-title m-t-0 m-b-md text-center">Issuers</h2>
			<p class="text-center">The Tokenized platform allows you to create a custom smart contract.  Once you’ve created the smart contract, you can then assign tokenized assets to the contract.  Once created, these assets are your assets and you can sell or raise capital with them in whatever manner you choose.  You can then list the tokens on our exchange, or you can sell them from your website, or any other exchange. </p>

			<p class="text-center">Our platform will take you through 4 steps that will ensure your token issuance is legal and that it suits your needs.</p>
		</div>
		<div class="row p-b-md">
			<img src="{{ 'assets/images/four_steps.png'|theme }}" class="desktop">
			<img src="{{ 'assets/images/ISSUERS.png'|theme }}" class="mobile">
		</div>
	</div>
</section>