==
<section id="accordion" class="col-md-12 p-y-lg">
<div class="container">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default p-y-sm">
		<div class="panel-heading" role="tab" id="heading1">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1"><h4 class="panel-title">Asset Types</h4></a>
			</div>
			<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
			<div class="panel-body">
				<p>Bacon ipsum dolor amet brisket cupim strip steak chicken short ribs pancetta. Alcatra chicken flank ground round. Ham hock corned beef cupim, prosciutto spare ribs kevin landjaeger filet mignon kielbasa tongue swine. Pork tenderloin andouille ham hock turkey sirloin pancetta short ribs landjaeger strip steak shoulder jerky chuck. Ham hock fatback filet mignon pork loin ribeye pork belly pastrami spare ribs, pork flank beef ribs. Alcatra burgdoggen chicken corned beef meatball biltong drumstick t-bone ball tip sausage leberkas shoulder frankfurter flank.</p>

				<p>Doner leberkas t-bone frankfurter, beef biltong tenderloin picanha drumstick jowl burgdoggen. Venison swine sausage, doner andouille flank pork. Fatback ground round kielbasa porchetta shank kevin. Turkey sirloin shoulder venison tri-tip meatloaf corned beef spare ribs short loin.</p>

				<p>Pancetta porchetta ham hock turkey meatball. Cupim picanha pork loin, tail biltong shankle shoulder drumstick rump shank sausage cow swine fatback doner. Filet mignon kielbasa ham tongue, picanha tail venison ham hock salami bacon beef ribs cow shoulder pork loin. Sirloin buffalo pork belly brisket short ribs t-bone, beef chuck meatball chicken drumstick. Venison kevin boudin jowl sausage. Rump doner beef ribs buffalo, shoulder landjaeger alcatra short loin. Salami frankfurter flank, fatback picanha short ribs drumstick short loin ribeye.</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default p-y-sm">
		<div class="panel-heading" role="tab" id="heading2">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
					<h4 class="panel-title">Fair Trading with Equal Access</h4>
				</a>
		</div>
		<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body">
				<p></p>
			</div>
		</div>
	</div>
	<div class="panel panel-default p-y-sm">
		<div class="panel-heading" role="tab" id="heading3">
			
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
					<h4 class="panel-title">Customer Protections</h4>
				</a>
		</div>
		<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
			<div class="panel-body">
				<p></p>
			</div>
		</div>
	</div>
	<div class="panel panel-default p-y-sm">
		<div class="panel-heading" role="tab" id="heading4">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
					<h4 class="panel-title">Tokens</h4></a>
		</div>
		<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
			<div class="panel-body">
				<p></p>
			</div>
		</div>
	</div>
	<div class="panel panel-default p-y-sm">
		<div class="panel-heading" role="tab" id="heading5">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
					<h4 class="panel-title">Smart Contracts</h4></a>
		</div>
		<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
			<div class="panel-body">
				<p></p>
			</div>
		</div>
	</div>
	<div class="panel panel-default p-y-sm">
		<div class="panel-heading" role="tab" id="heading6">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
					<h4 class="panel-title">Bitcoin SV</h4>
				</a>
		</div>
		<div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
			<div class="panel-body">
				<p></p>
			</div>
		</div>
	</div>
</div> 
</div>
</section>