==
<section id="company_values" class="col-md-12 p-y-lg">
	<div class="container">
   <div class="row">
   		<div class="col-md-6 text-center p-b-md">
   			<span class="m-b-0">Our</span>
   			<h1 class="m-t-0 m-b-0">company</h1>
   			<h2 class="m-t-0">values</h2>
   			<img src="{{ 'assets/images/T_values.png'|theme }}" class="icons-width-auto">
   		</div>
   		<div class="col-md-6">
   			<p>We believe that <strong>voluntary exchange</strong> is the beating heart of our global community, and that every trade makes our world a little bit better.</p>

			<p>Our platform makes voluntary exchange faster, safer, and much, <strong>much cheaper</strong>. </p> 

			<p>Any person, company or organization in the world can <strong>connect</strong> to the new global marketplace developing on the cutting-edge Bitcoin SV network.  This new global marketplace can handle all of your financial and legal needs, with smart contracts making it an effortless experience.</p>  

			<p>No technical expertise needed.</p>

   		</div>
   </div>
</div>
</section>