==
<section id="download_buttons" class="col-md-12 p-y-md">
 <div class="row bg_image">
 	<div class="col-md-6 text-center m-b-md ">
 		<h1>Download the app</h1>
 	</div>
 	<div class="col-md-6">
		<a href="#" class="windowsBttn downloadBttn"><i class="fab fa-windows"></i> Windows</a>
		<a href="#" class="appleBttn downloadBttn"><i class="fab fa-apple"></i> Apple</a>
		<a href="#" class="androidBttn downloadBttn"><i class="fab fa-android"></i> Android</a>
	</div>
</div>  
</section>