==
<section id="downloadApp" class="col-md-12 p-y-lg">

<div class="container p-x-md p-y-md">
 
	    	<div class="col-md-6 text-center m-b-md">
	    		<img src="{{ 'assets/images/Choose_your_system.png'|theme }}">
	    	</div>
	    	<div class="col-md-6">
	    		<h2 class="m-t-0 m-b-md section-title">Choose your System</h2>
	    		<p class="p-b-md">Download the app today! Bacon ipsum dolor amet turkey ball tip rump flank pork belly fatback. Flank burgdoggen jerky, fatback shank ribeye turkey beef ribs drumstick corned beef buffalo meatloaf ground round tenderloin brisket. Flank bresaola landjaeger andouille prosciutto, chicken brisket short loin venison tongue capicola filet mignon.</p>

	    		<a href="#" class="windowsBttn downloadBttn"><i class="fab fa-windows"></i> Windows</a>
	    		<a href="#" class="appleBttn downloadBttn"><i class="fab fa-apple"></i> Apple</a>
	    		<a href="#" class="androidBttn downloadBttn"><i class="fab fa-android"></i> Android</a>
	    	</div>

	    </div>
   

</section>