==
<section id="platforms" class=" p-y-lg">
	<div class="container">
		<h2 class="section-title m-t-0 m-b-md text-center">The Platforms</h2>
		<p class="p-y-sm text-center">Bacon ipsum dolor amet turkey ball tip rump flank pork belly fatback. Flank burgdoggen jerky, fatback shank ribeye turkey beef ribs drumstick corned beef buffalo meatloaf ground round tenderloin brisket. Flank bresaola landjaeger.</p>
		<div class="col-lg-4 col-md-4 col-sm-6 m-b-md">
			<div class="card p-y-md">
				<div class="circle">
					<img src="{{ 'assets/images/1.png'|theme }}" style="padding-left: 15px;">
				</div>
				<p class="title p-t-md text-center">Create Smart Contracts</p>
				<ul>
					<li>Create and Manage Tokens</li>
					<li>Voting and Governance Tools</li>
					<li>Whitelisting Functionality</li>
					<li>Safe, Secure and On-Chain</li>
					<li>Comply with all Regulations</li>
					<li>Automatic Execution of T&C’s</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 m-b-md">
			<div class="card p-y-md">
				<div class="circle text-center">
					<img src="{{ 'assets/images/2.png'|theme }}" >
				</div>
				<p class="title p-t-md text-center">Buy and Sell Tokens</p>
				<ul>
					<li>Auction-Style Exchange</li>
					<li>Peer-to-Peer/OTC Trades</li>
					<li>Stocks and Bonds</li>
					<li>Tickets, Coupons and Points</li>
					<li>Forwards, Futures, Options, etc.</li>
					<li>BSV/USD/GBP/EUR/AUD Pairs</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 m-b-md">
			<div class="card p-y-md">
				<div class="circle text-center">
					<img src="{{ 'assets/images/3.png'|theme }}">
				</div>
				<p class="title p-t-md text-center">A New Global Marketplace</p>
				<ul>
					<li>100% Direct Ownership</li>
					<li>Secure, Compliant and Low Cost</li>
					<li>Settled in ~2 secs, Cleared in 1 hour</li>
					<li>Public and Immutable Ledger</li>
					<li>Fair Market with Equal Access</li>
					<li>Always open - 24/7/365</li>
					<li>Access to a Global Liquidity Pool</li>
				</ul>
			</div>
		</div>
		<div class="divider p-y-md">
			<hr >
		</div>

		{% partial "video_cards.htm" %}

		{% partial "download_buttons.htm" %}
	</div>
    	
</section>