==
<section id="pricing" class="p-y-lg col-md-12">

   <div class="container">
 		<div class="row">
			<h2 class="section-title m-t-0 m-b-md text-center">Pricing</h2>
			<p class="text-center">Bacon ipsum dolor amet turkey ball tip rump flank pork belly fatback. Flank burgdoggen jerky, fatback shank ribeye turkey beef ribs drumstick corned beef buffalo meatloaf ground round tenderloin brisket. Flank bresaola landjaeger.</p>
		</div>
		<div class="row p-t-md desktop">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="card-price standard p-y-md">
					<div class="row text-center price-tag">
						<h2>Standard</h2>
						<p class="price m-b-0">$0</p>
						<span>per user/month</span>
					</div>

					<div class="divider"> <hr></div>

					<div class="row details p-x-md">
						<table>
						  <tr>
						    <th colspan="2">Tokens:</th>
						  </tr>
						  <tr>
						    <td >Taker:</td>
						    <td >$0.20/trade</td>
						  </tr>
						  <tr>
						    <td >Maker:</td>
						    <td >$0.00/trade</td>
						  </tr>
						  <tr>
						    <th >Bitcoin:</th>
						    <td >$0/txn (Network Fees Only)</td>
						  </tr>
						  <tr>
						    <th >BSV < _ > Flat:</th>
						    <td >0%</td>
						  </tr>
						  <tr>
						    <th colspan="2">Smart Contracts:</th>
						  </tr>
						  <tr>
						    <td >Utility Tokens</td>
						    <td >$10/month</td>
						  </tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-price premium p-y-md">
					<div class="row text-center price-tag">
						<h2>Premium</h2>
						<p class="price m-b-0">$17</p>
						<span>per user/month</span>
					</div>
					<div class="divider"> <hr></div>
					<div class="row details p-x-md">
						<table>
						  <tr>
						    <th colspan="2">Tokens:</th>
						  </tr>
						  <tr>
						    <td >Taker:</td>
						    <td >$0.02/trade</td>
						  </tr>
						  <tr>
						    <td >Maker:</td>
						    <td >$0.00/trade</td>
						  </tr>
						  <tr>
						    <th >Bitcoin:</th>
						    <td >$0/txn (Network Fees Only)</td>
						  </tr>
						  <tr>
						    <th >BSV < _ > Flat:</th>
						    <td >0%</td>
						  </tr>
						  <tr>
						    <th colspan="2">Smart Contracts:</th>
						  </tr>
						  <tr>
						    <td >Utility Tokens</td>
						    <td >$10/month</td>
						  </tr>
						  <tr>
						    <td >Security Tokens</td>
						    <td >$10/month</td>
						  </tr>
						  <tr>
						    <th >Foundraising Free:</th>
						    <td >2%</td>
						  </tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		
	<div class="row mobile">
	<div id="priceCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#priceCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#priceCarousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item">
        <div class="card-price standard p-y-md">
          <div class="row text-center price-tag">
            <h2>Standard</h2>
            <p class="price m-b-0">$0</p>
            <span>per user/month</span>
          </div>

          <div class="divider"> <hr></div>

          <div class="row details p-x-md">
            <table>
              <tr>
                <th colspan="2">Tokens:</th>
              </tr>
              <tr>
                <td >Taker:</td>
                <td >$0.20/trade</td>
              </tr>
              <tr>
                <td >Maker:</td>
                <td >$0.00/trade</td>
              </tr>
              <tr>
                <th >Bitcoin:</th>
                <td >$0/txn (Network Fees Only)</td>
              </tr>
              <tr>
                <th >BSV < _ > Flat:</th>
                <td >0%</td>
              </tr>
              <tr>
                <th colspan="2">Smart Contracts:</th>
              </tr>
              <tr>
                <td >Utility Tokens</td>
                <td >$10/month</td>
              </tr>
            </table>
          </div>
        </div>
    </div>
    <div class="item active">
        <div class="card-price premium p-y-md">
          <div class="row text-center price-tag">
            <h2>Premium</h2>
            <p class="price m-b-0">$17</p>
            <span>per user/month</span>
          </div>
          <div class="divider"> <hr></div>
          <div class="row details p-x-md">
            <table>
              <tr>
                <th colspan="2">Tokens:</th>
              </tr>
              <tr>
                <td >Taker:</td>
                <td >$0.02/trade</td>
              </tr>
              <tr>
                <td >Maker:</td>
                <td >$0.00/trade</td>
              </tr>
              <tr>
                <th >Bitcoin:</th>
                <td >$0/txn (Network Fees Only)</td>
              </tr>
              <tr>
                <th >BSV < _ > Flat:</th>
                <td >0%</td>
              </tr>
              <tr>
                <th colspan="2">Smart Contracts:</th>
              </tr>
              <tr>
                <td >Utility Tokens</td>
                <td >$10/month</td>
              </tr>
              <tr>
                <td >Security Tokens</td>
                <td >$10/month</td>
              </tr>
              <tr>
                <th >Foundraising Free:</th>
                <td >2%</td>
              </tr>
            </table>
          </div>
        </div>
    </div>
  </div>

  <!-- Left and right controls -->
 <!--  <a class="left carousel-control" href="#priceCarousel" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left"></span>
   <span class="sr-only">Previous</span>
 </a>
 <a class="right carousel-control" href="#priceCarousel" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
   <span class="sr-only">Next</span>
 </a> -->
</div>
	</div>
		
	</div>

</section>