==
<!--  sign up form -->
 <div class="row form-newsletter p-b-md">
 	 <form>
    	<input type="text" name="email" placeholder="Enter email address" class="form-field">
    	<input type="submit" name="submit" class="rectangle_bttn" value="Sign up">
    </form>
 </div>