==
<section id="video-cards" class="text-center col-md-12">

	<div class="col-md-4 video-card m-b-md">
		<iframe width="100%" height="203" src="https://www.youtube.com/embed/MWVVuTtAyOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<h3 class="title text-center">Wallet</h3>
		<p class="text-center">Bacon ipsum dolor amet turkey ball tip rump flank pork belly fatback. Flank burgdoggen jerky, fatback shank ribeye.</p>
	</div>

	<div class="col-md-4 video-card m-b-md">
		<iframe width="100%" height="203" src="https://www.youtube.com/embed/MWVVuTtAyOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<h3 class="title text-center">Contracts Manager</h3>
		<p class="text-center">Bacon ipsum dolor amet turkey ball tip rump flank pork belly fatback. Flank burgdoggen jerky, fatback shank ribeye.</p>
	</div>

	<div class="col-md-4 video-card m-b-md">
		<iframe width="100%" height="203"  src="https://www.youtube.com/embed/MWVVuTtAyOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<h3 class="title text-center">Exchange</h3>
		<p class="text-center">Bacon ipsum dolor amet turkey ball tip rump flank pork belly fatback. Flank burgdoggen jerky, fatback shank ribeye.</p>
	</div>

</section>