title = "Demonstration"
url = "/"
layout = "default"
is_hidden = 0
==
<div id="{{this.page.title}}">
    <div class="bg-solid">
        <div class="container">
            {% partial "first_section.htm" %}
        </div>
    </div>
    <!-- second section -->
    {% partial "download_app.htm" %}

    <!-- third section -->
    {% partial "platforms.htm" %}

    <!-- 4th section -->
    {% partial "4th_section.htm" %}

    <!-- 5th section -->
    {% partial "company_values.htm" %}

    <!-- 5th section -->
    {% partial "accordion_section.htm" %}

    <!-- 6th section -->
    {% partial "pricing.htm" %}
</div>